body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    margin: 0; /* Remove margens externas para evitar espaços em branco nas laterais */

}

header {
    height: 350px;
    background-color: #0025A9;
    color: #FFFFFF;
    font-weight: 400;
    display: flex; /* Usa flexbox para alinhar os elementos */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 49px; /* Espaço abaixo do cabeçalho */
}
header h1 {
    font-size: 40px;
}
main, section {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza os elementos na vertical */
    gap: 16px;
}
form {
    display: flex; /* Usa flexbox para organizar os elementos horizontalmente */
    gap: 16px;
    width: 850px;
}
input {
    font-weight: 400;
    font-size: 20px;
    border-radius: 6px;
    padding: 20px;
    width: 100%; /* Faz o input ocupar toda a largura disponível no form */
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove o contorno ao clicar no input */
    background-color: #D9D9D9;
}
button {
    border-radius: 6px;
    background-color: #0025A9;
    color: #FFFFFF;
    padding: 25px 50px;
    border: none;
    cursor: pointer;
}
div {
    display: flex;
    gap: 16px;
    width: 850px;
    min-height: 140px;
    background-color: #D9D9D9;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;  /* Garante que o padding não aumente o tamanho */
    justify-content: space-between;
}
div p {
    margin: 0;
}

div span {
    color: #007FC3;
}