body {
    display: flex;
    justify-content: center;  
    gap: 20px;
}

button {
    margin-top: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: gray;
}
